# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Secrets & Config
.env
*.env
key.txt
key_info.txt
google-services.json
firebase_options.dart
serviceAccountKey.json
base64_creds.txt

# Dependencies
vendor/
